*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-register{
    width: 400px;
    background: #706f6f;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    text-align: center;
    color: #f3f3f3;
    font-size: 25px;
    margin-bottom: 20px; 
}

.controls {
    width: 100%;
    background: #dde7f1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #283a4d;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: underline;
}

.form-register a:hover {
    color:#077056ea;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #385d83; 
    border: 2px solid #020300;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}

.botons {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-decoration: none; 
    background-color: #303535;
    color: #385d83;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}