{% extends 'base.html' %}

{% block title %}Lista de Items{% endblock %}

{% block content %}
    <div class="contenido">
        <h4>Buscar Items</h4>
        <details>
            <summary>Mostrar Opciones de Búsqueda</summary>
            <form method="GET" action="{% url 'search_results' %}"> 
                {{ form.search }}  <!-- Campo de búsqueda -->
                {{ form.category }}  <!-- Campo de categorías -->
                {{ form.author }}  <!-- Campo de autor -->
                {{ form.antiguedad }}  <!-- Campo de antigüedad -->
                {{ form.order }}  <!-- Campo de orden -->
                <button type="submit">Buscar</button>
            </form>
        </details>

        <div id="results">
            <h5>Resultados de Items</h5>
            <ul>
                {% if items %}
                    {% for item in items %}
                        <li>
                            <a href="{% url 'detalle_item' item.id %}">{{ item.name }}</a> - {{ item.category }}
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No se encontraron resultados.</li>
                {% endif %}
            </ul>
        </div>

        <!-- Botón para mostrar todos los ítems -->
        <form method="GET" action="{% url 'item_list' %}">
            <button type="submit" name="show_all" value="1">Mostrar Todos</button>
        </form>
    </div>
{% endblock %}












