{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/categoria/categoriaForm.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="row rounded">
    <div class="col-12 item mb-5" id="container-form">
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}

            <div class="form-row mt-4">
                <div class="form-group col-12">
                    {{ form.as_p }}
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-lg btn-block mb-4 mt-4" value="CREAR CATEGORIA">CREAR CATEGORIA</button>
        </form>
    </div>
</div>
{% endblock %}