{% extends 'base.html' %}

{% block title %}Comida{% endblock %}

{% block content %}
    <h1>Comida</h1>
    <p>
        La comida es una forma de arte culinario que combina ingredientes para crear platos deliciosos.
    </p>

    <ul>
        {% for item in items %}
            <li>
                <a href="{% url 'post:mostrarPost' item.id %}">{{ item.title }}</a> - {{ item.content }}
            </li>
        {% empty %}
            <li>No hay ítems en esta categoría.</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'post:post_list' %}">Volver a la lista de ítems</a>
{% endblock %}




 