{% extends 'base.html' %}

{% block title %}Pintura{% endblock %}

{% block content %}
    <h1>Pintura</h1>
    <p>
        La pintura es una forma de expresión artística que utiliza pigmentos sobre una superficie.
    </p>

    <ul>
        {% for item in items %}
            <li>
                <a href="{% url 'post:mostrarPost' item.id %}">{{ item.title }}</a> - {{ item.content }}
            </li>
        {% empty %}
            <li>No hay ítems en esta categoría.</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'post:post_list' %}">Volver a la lista de ítems</a>
{% endblock %}





