{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/registro/paginaRegistro.css' %}">
    <title>Formulario de Login</title>
{% endblock %}



{% block content %}

<form method="post">
    {% csrf_token %}
    <center>
    <label for="email">Introduce tu correo electrónico:</label>
    <input type="email" name="email" required>
    <p> </p>
    <input class="botons" type="submit" value="Recuperar contraseña">
    <p> </p>
    </center>
</form>

{%endblock%}