{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/registro/paginaRegistro.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block titulo %}
  
{% endblock titulo %}

{% block content %}


<section class="form-register">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{form.errors}}
        <h4>Formulario de Registro</h4>
         <!-- Creo los imput para que el usuario ingrese sus datos -->
         {{ form | crispy }}
        <!-- Mensaje de si el usuario esta de acuerdo con los terminos y conficiones -->

        <p>Estoy de acuerdo con <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Terminos y condiciones</a></p>
         <!-- Creamos el boton para que el usuario pueda registrarse -->
         <button class="botons" type="submit">Registrar</button>
         <!-- url que pregunta si el usuario ya tiene cuenta y lo redireccione a la pagina del Login o inicio de sesion -->
        <a href= "{% url 'usuarios:login' %}">¿Ya tienen Cuenta?</a>
    </form>
</section>


{%  endblock content %}