{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/registro/paginaRegistro.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block titulo %}
  Registro
{% endblock titulo %}

{% block content %}

    
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{form.errors}}
      <section class="form-register">
        <h4>Formulario de Registro</h4>
         <!-- Creo los imput para que el usuario ingrese sus datos -->
        <input class="controls" type="text" name="username" id="Usuario" placeholder="Ingrese su Usuario">
        <input class="controls" type="text" name="first_name" id="nombre" placeholder="Ingrese su Nombre/s">
        <input class="controls" type="text" name="last_name" id="Apellido" placeholder="Ingrese su Apellido">
        <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Email">
        <input class="controls" type="password" name="password1" id="contraseñas" placeholder="Ingrese su Contraseña">
        <input class="controls" type="password" name="password2" id="contraseñas" placeholder="Confirme su Contraseña"> 
        <!-- Mensaje de si el usuario esta de acuerdo con los terminos y conficiones -->

        <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
         <!-- Creamos el boton para que el usuario pueda registrarse -->
         <button class="botons" type="submit">Registrar</button>
         <!-- url que pregunta si el usuario ya tiene cuenta y lo redireccione a la pagina del Login o inicio de sesion -->
        <a href= "{% url 'usuarios:login' %}">¿Ya tienen Cuenta?</a>

        
    </form>


{%  endblock content %}