.form-register{
    width: 700px;
    background-color: #065a45ea;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    align-items: center;
    
}