*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fondo2.jpg');
}


.form-register{
    width: 400px;
    background: linear-gradient(to bottom, #5b5c60, #5c5e63, #5d5f66, #5d616a, #5e636d, #5b636e, #58636e, #54636e, #4e616a, #485f65, #435d5f, #405a59);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    display: flex;
    align-items: center;
}

.form-register h4 {
    color: #f3f3f3;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #ecbc7c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #23134e;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
   
}

.form-register a {
    color: white;
    text-decoration: underline;
    
}

.form-register a:hover {
    color:white;
    text-decoration: underline;
    
}

.form-register .botons {
    width: 100%;
    background: #ff0303;
    border: 2px solid #020300;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

