body {
    background: linear-gradient(to left bottom, #dde7f1, #aec2ce, #7f9fa9, #517d83, #255c5c);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.imagenlogo {
    background-color: #303535;
    height: 15vh; 
    background-size: cover;
    background-position: center;
}

#page-content {
    flex: 1 0 auto;    
}

#pie_pagina{
    height: 175px;
    width: 100%;
}

.cuerpo
{
    background-color: #404848!important
}

.item 
{
    font-size: 20px;
    font-family: 'calibri';
}

.cuerpo-oscuro
{
    background-color: #232E2E;
}


.post-mostrar a
{
    color: #232E2E!important;
} 

.btn-boton_personalizado{
padding: .375rem .75rem;
border-radius: .25rem;
background-color: #EF891E;
color: #000000;
font-weight: bold;
transition: background-color .15s ease-in-out;
}

.btn-boton_personalizado:hover, .btn-boton_personalizado:focus {
background-color: #F0B474;
color: #000000
}

.btn-boton_personalizado:active {
background-color: #EF891E;
}

.btn-navbar{
padding: .375rem .75rem;
border-radius: .25rem;
background-color: #858F8F;
color: #385d83;
font-weight: bold;
transition: background-color .15s ease-in-out;
}

.btn-navbar:hover, .btn-navbar:focus {
background-color: #1C2525;
color: #385d83
}

.btn-navbar:active {
background-color: #1C2525;
}

.btn-buscar{
padding: .375rem .75rem;
border-radius: .25rem;
background-color: #EF891E;
color: #000000;
font-weight: bold;
transition: background-color .15s ease-in-out;
}

.btn-buscar:hover, .btn-buscar:focus {
background-color: #F0B474;
color: #000000
}

.btn-buscar:active {
background-color: #EF891E;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}