<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-left">
                <span class="brand">Emprendimiento Chaco</span>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="{% url 'home_view' %}">Inicio</a></li>
                    <li><a href="{% url 'profile_list' %}">Perfiles</a></li>
                    <li class="dropdown">
                        <a href="#">Categorías</a>
                        <ul class="dropdown-content">
                            <li><a href="{% url 'categoria_view' 'Pintura' %}">Pintura</a></li>
                            <li><a href="{% url 'categoria_view' 'Musica' %}">Música</a></li>
                            <li><a href="{% url 'categoria_view' 'Muebles' %}">Muebles</a></li>
                            <li><a href="{% url 'categoria_view' 'Moda' %}">Moda</a></li>
                            <li><a href="{% url 'categoria_view' 'Manualidades' %}">Manualidades</a></li>
                            <li><a href="{% url 'categoria_view' 'Comida' %}">Comida</a></li>
                            <li><a href="{% url 'item_list' %}">Todo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 class="main-title">Emprendimiento</h1>  <!-- Título principal -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 - Tu Emprendimiento. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>


















































