<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
    {% load static %}  <!-- Asegúrate de que esta línea esté aquí -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ item.name }}</h1>
    
    {% if item.image %}  <!-- Si tienes una imagen -->
        <img src="{{ item.image.url }}" alt="{{ item.name }}" style="max-width: 300px; max-height: 300px;">
    {% endif %}

    <p><strong>Descripción:</strong> {{ item.description }}</p>
    <p><strong>Categoría:</strong> {{ item.category }}</p>
    <p><strong>Autor:</strong> {{ item.author }}</p>
    <p><strong>Fecha de Creación:</strong> {{ item.creation_date }}</p>

    <a href="{% url 'search_results' %}">Volver a buscar</a>
    <br>
    <a href="{% url 'item_list' %}">Volver a la lista de items</a>
</body>
</html>




