{% extends 'base.html' %}

{% block title %}Inicio - Mi Blog{% endblock %}

{% block content %}
    <p>Emprendimiento</p>
    <h1>Entradas del Blog</h1>

    <div class="contenido">
        <h4>Buscar Items</h4>
        <form method="GET" action="{% url 'search_results' %}"> 
            <input type="text" name="search" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>

        <div id="results">
            <ul>
                {% if items %}
                    {% for item in items %}
                        <li>
                            <a href="{% url 'detalle_item' item.id %}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if request.GET.search %}
                        <li>No se encontraron resultados.</li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}











