{% extends 'base.html' %}

{% block title %}Inicio - Mi Blog{% endblock %}

{% block content %}
    <h1>Entradas del Blog</h1>  <!-- Mantén el título de las entradas del blog aquí -->

    <div class="contenido">
        <div class="search-header">  <!-- Contenedor para el título y el buscador -->
            <h4>Buscar Items</h4>
            <div class="search-container">  
                <form method="GET" action="{% url 'search_results' %}"> 
                    <input type="text" name="search" placeholder="Buscar...">
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>

        <div id="results">
            <ul>
                {% if items %}
                    {% for item in items %}
                        <li>
                            <a href="{% url 'detalle_item' item.id %}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if request.GET.search %}
                        <li>No se encontraron resultados.</li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}










