{% extends 'base.html' %}

{% block title %}Lista de Items{% endblock %}

{% block content %}
    <div class="contenido">
        <h4>Buscar Items</h4>
        <form method="GET" action="{% url 'search_results' %}"> 
            {{ form.search }}  <!-- Campo de búsqueda -->
            {{ form.category }}  <!-- Campo de categorías -->
            {{ form.author }}  <!-- Campo de autor -->
            {{ form.antiguedad }}  <!-- Campo de antigüedad -->
            {{ form.order }}  <!-- Campo de orden -->
            <button type="submit">Buscar</button>
        </form>

        <div id="results">
            <h5>Resultados de Items</h5>
            <ul>
                {% if items %}
                    {% for item in items %}
                        <li>
                            <a href="{% url 'detalle_item' item.id %}">{{ item.name }}</a> - {{ item.category }}
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No se encontraron resultados.</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}




